@import 'colors';

main {
    background: $grey;
    padding: 15px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
    }

    h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
    }
    h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        margin: 0px;
    }
}

.analysis-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 75px;
    align-items: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
    .button {
        background-color: $blue;
        text-transform: uppercase;
        padding: 0.5em 1em;
        vertical-align: -webkit-baseline-middle;
    }
    .size {
        width: 90px;
    }
    .currency {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .life-stream {
        .box-1, .box-2 {
            display: inline-block;
        }
        .box-2 {
            position: relative;
            left: 50px;
        }
    }
    .payments {
        position: relative;
        top: 15px;
        left: -100px
    }
    .options {
        span {
            font-size: 15px;
        }
        .on-off {
            background-color: $white;
            display: inline-block;
            padding: 2px 0px 0px 2px;
            height: 34px;
            .off {
                background-color: $grey;
                color: $black;
            }
            .on {
                background-color: $white;
                color: $black;
            }
        }
    }
}

.chart-container {
    // display: flex;
    // justify-content: space-around;
    background-color: $white;
    border-radius: 4px;
    margin: 20px 70px;
        // .c3-area {
        //     stroke-width: 0;
        //     opacity: 1; 
        // }
    }

.account-container {
    display: flex;
    justify-content: center;
    .account-box {
        flex-basis: 45%;
    }
    .products {
        display: flex;
        flex-flow: wrap;
        font-size: 15px;
        .products-list {
            background-color: $white;
            width: 280px;
            flex-grow: 1;
            flex-shrink: 1;
            border-radius: 4px;
            padding: 20px;
            margin: 10px 10px 0px 0px;
            .icon {
                color: $grey;
            }
            .type {
                display: flex;
                padding-left: 80px;
                margin-top: -50px;
            }
            .amount {
                padding-left: 80px;
            }
        }
        .bank-loan-style {
            flex-grow: 0.04; // TODO
            background-color: $blue;
        }
    }
    .history {
        background-color: $white;
        border-radius: 4px;
        margin-top: 10px;
        .history-row {
            display: inline-flex;
            width: 100%;
            border-bottom: 1px solid $grey;
            padding: 10px;
            margin: 10px 0px 0px 0px;
            .description {
                display: flex;
                flex-grow: 2;
                margin: 0px 20px 0px 20px;
            }
            .date, .description, .amount {
                font-size: 15px;
            }
        }
    }
    p {
        margin-bottom: 0px;
    }
}

.right-spacer {
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}

.list-element-inline {
    display: inline-block;
}
