@import 'colors';

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $blue;
    // padding: 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: $white;
    h1 {
        margin: 0px;
        a {
            display: inline-block;
        }
    }
    p {
        text-transform: uppercase;
        position: relative;
        top: 20px;
    }
    a {
        color: $white;
    }
    .profile {
        display: inline-flex;
        .logo, .user-photo {
            width: 110px;
        }
        .personal-details {
            margin-left: 20px;
            span.user-name {
                font-size: 25px;
                letter-spacing: -1.3px;
            }
            div {
                margin-top: 30px;
            }
        }
    }
    ul {
        text-align: center;
        margin: 0px;
        .menu-element {
            display: inline-block;
            position: relative;
            width: 90px;
            height: 150px;
            &:hover, &:focus {
                background-color: $black;
                &:after {
                    content: '';
                    position: absolute;
                    top: 140px;
                    left: 35px;
                    width: 18px;
                    height: 20px;
                    background-color: #000000;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 50px;
                    border-color: #000000;
                }
            }

        }
        li {
            display: inline-flex;
            padding: 30px 0px;
            // a {
            //     &:hover, &:focus {
            //         background-color: $black;
            //         border: 0px;
            //     }
            // }
            p {
                font-size: 15px;
            }
        }
    }
    .actions {
        display: inline-flex;
        .line {
            padding: 0px 10px;
        }
        p.logout {
            color: #e21a61;
        }
    }
}

main {
    background: $grey;
    padding: 15px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
    }

    h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
    }
    h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        margin: 0px;
    }
}

.analysis-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
    .button {
        background-color: $blue;
        text-transform: uppercase;
        padding: 0.5em 1em;
        vertical-align: -webkit-baseline-middle;
    }
    .size {
        width: 90px;
    }
    .currency {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .life-stream {
        .box-1, .box-2 {
            display: inline-block;
        }
        .box-2 {
            position: relative;
            left: 50px;
        }
    }
    .payments {
        position: relative;
        top: 15px;
        left: -100px
    }
    .options {
        span {
            font-size: 15px;
        }
        .on-off {
            background-color: $white;
            display: inline-block;
            padding: 2px 0px 0px 2px;
            height: 34px;
            .off {
                background-color: $grey;
                color: $black;
            }
            .on {
                background-color: $white;
                color: $black;
            }
        }
    }
}

.chart-container {
    // display: flex;
    // justify-content: space-around;
    background-color: $white;
    border-radius: 4px;
    margin: 20px 70px;
        // .c3-area {
        //     stroke-width: 0;
        //     opacity: 1; 
        // }
    }

.account-container {
    display: flex;
    justify-content: center;
    .account-box {
        flex-basis: 45%;
    }
    .products {
        display: flex;
        flex-flow: wrap;
        font-size: 15px;
        .products-list {
            background-color: $white;
            width: 280px;
            flex-grow: 1;
            flex-shrink: 1;
            border-radius: 4px;
            padding: 20px;
            margin: 10px 10px 0px 0px;
            .icon {
                color: $grey;
            }
            .type {
                display: flex;
                padding-left: 80px;
                margin-top: -50px;
            }
            .amount {
                padding-left: 80px;
            }
        }
        .bank-loan-style {
            flex-grow: 0.04; // TODO
            background-color: $blue;
        }
    }
    .history {
        background-color: $white;
        border-radius: 4px;
        margin-top: 10px;
        .history-row {
            display: inline-flex;
            width: 100%;
            border-bottom: 1px solid $grey;
            padding: 10px;
            margin: 10px 0px 0px 0px;
            .description {
                display: flex;
                flex-grow: 2;
                margin: 0px 20px 0px 20px;
            }
            .date, .description, .amount {
                font-size: 15px;
            }
        }
    }
    p {
        margin-bottom: 0px;
    }
}

.right-spacer {
    margin-right: 15px;
}

.sum {
    font-weight: bold;
}

.list-element-inline {
    display: inline-block;
}
