.top-spacer {
    margin-top: 10px;
}

.right-spacer {
    margin-right: 15px;
}

.v-align {
    vertical-align: middle;
}

.inline {
    display: inline-block
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}
