@import 'colors';

.container {
    // height: 100vh;
    background: {
        image: url('../img/background-image.jpeg');
        size: cover;
        position: center center;
    }
}

.efigence-logo {
    width: 128px;
    float: right;
    position: relative;
    top: 20px;
    border: {
        width: 1px;
        style: solid;
        color: $white;
        radius: 10px;
    }
}

.signin-container {
    background-color: $blue;
    padding: 30px 50px;
    text-align: center;
    color: $white;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

.form-container {
    padding: 0px 30px 10px 30px;
    margin-top: 100px;
    border: {
        width: 1px;
        style: solid;
        color: $white;
        radius: 10px;
    }
    > div {
        position: relative;
        top: -70px;
        background: $white;
        height: 120px;
        width: 120px;
        margin: 0 auto; /* Środkuje blokowy element */
        border-radius: 100px;
        img {
            width: 100px;
            height: 100px;
            position: relative;
            top: 5px;
        }
    }
    .fa-keyboard-o {
        color: $white;
    }
}

form {
    position: relative;
    top: -30px;
    p {
        margin: 0;
        color: $red;
        text-align: left;
    }
    input[type="password"] {
        width: 94%;
        display: inline-block;
    }
    .validation-message {
        position: absolute;
        top: 40px;
        left: 30%;
        width: 50%;
        background-color: #ef0808;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 12px;
    }
    .validation-message:before {
        content: '';
        position: absolute;
        bottom: 30px;
        left: 50px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ef0808 transparent;
    }
    .action {
        text-transform: uppercase;
        span {
            margin-right: 10px;
        }
        a {
            color: $white;
            &.button {
                background: $white;
                color: #000000;
                padding: 8px 50px;
                border-radius: 5px;
                margin-left: 20px;
                margin-top: 10px;
            }
        }
    }
}

.hidden {
    display: none;
}

.error {
    border-color: $red;
}

ul {
    padding-top: 25px;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    li {
        display: inline-block;
        padding: 0px 10px 0px 0px;
        a {
            color: $white;
        }
    }
}
