$blue: #13bdd2;
$white: #ffffff;

body {
    background: {
        image: url('../img/bg.jpeg');
        size: cover;
        position: center center;
    }
}

.logo-container {
    width: 128px;
    height: 128px;
    float: right;
    position: relative;
    top: 20px;
    border: {
        width: 1px;
        style: solid;
        color: $white;
        radius: 10px;
    }
}

.signin-container {
    background-color: $blue;
    padding: 30px 50px;
    text-align: center;
    color: $white;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

.form-container {
    padding: 0px 30px 10px 30px;
    margin-top: 100px;
    border: 1px solid $white;
    border-radius: 10px;
    > div {
        position: relative;
        top: -70px;
        background: $white;
        height: 120px;
        width: 120px;
        margin: 0 auto; /* Środkuje blokowy element */
        border-radius: 100px;
        img {
            width: 100px;
            height: 100px;
            position: relative;
            top: 5px;
        }
    }
    .fa-keyboard-o {
        color: $white;
    }
}

form {
    position: relative;
    top: -30px;
    input[type="password"] {
        width: 94%;
        display: inline-block;
    }
    div.hidden {
        display: none;
        span {
            margin-right: 10px;
        }
    }
    div {
        text-transform: uppercase;
        a {
            color: $white;
            &.button {
                background: $white;
                color: #000000;
                padding: 8px 50px;
                border-radius: 5px;
                margin-left: 20px;
                margin-top: 10px;
            }
        }
    }
}

ul {
    padding-top: 25px;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    li {
        display: inline-block;
        padding: 0px 10px 0px 0px;
        a {
            color: $white;
        }
    }
}
