@import 'colors';

.transfer-container {
    input#recipient, input#when, .account-custom-select {
        border: 0px;
        box-shadow: 0px 0px 0px;
        height: auto;
        margin: 0px;
    }

    input#recipient, input#when, {
        padding-left: 0px;
    }

    .custom-border {
        border: 1px solid $grey;
        box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.22);
    }

    .account {
        height: 50px;
        border-radius: 5px;
        box-shadow: 0px 0px 0px;
        padding: 5px;
        margin: 15px 0px 20px 0px;
    }

    select.custom-arrow {
        background: {
            image: url('../img/icons/arrow-bottom.png');
            size: auto;
        }
    }

    .add-icon-bg {
        width: 25px;
        height: 25px;
        border-radius: 4px;
        background-color: $dark-grey;
        .add-sign {
            text-align: center;
            a {
                color: $white;
            }
        }
    }

    .type-rb-container {
        margin-right: 40px;
        .type-icon-bg {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: $dark-grey;
            .type-icon {
                vertical-align: middle;
            }
            .arrow-position {
                position: relative;
                top: 15px;
                left: 32px;
                display: block;
            }
            .coins-position, .user-position {
                position: relative;
                bottom: 10px;
                right: 5px;
            }
            .dollar-position {
                position: relative;
                bottom: 10px;
            }
            .coin-position {
                position: relative;
                bottom: 5px;
            }
        }
        .type-label {
            width: 60px;
            margin-top: 8px;
            text-align: center;
        }
        input:checked + div {
            background-color: $blue;
        }
    }

    .recipient-input-container, .when-input-container {
        display: flex;
        width: 100%;
        height: 2.4375rem;
        margin: 0 0 1rem;
        padding: .5rem;
        .input-icon {
            width: 26px;
            height: 19px;
        }
    }

    .rb-container {
        display: inline-block;
        margin: 0 60px 20px 0px;
        .label-position {
            position: relative;
            left: 40px;
            top: 3px;
        }
        input:checked + div.pseudo-rb {
            background-color: $green;
            border: 1px solid $green;
        }
    }

    .where-rb-wrapper, .option-rb-wrapper {
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid $grey;
        border-radius: 50%;
        margin-right: 10px;
        .pseudo-rb {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            position: relative;
            top: 7px;
            left: 8px;
        }
    }

    .tooltip-container {
        display: inline;
        .question-sign {
            vertical-align: super;
        }
    }

    .continue {
        text-transform: uppercase;
        color: $white;
        background-color: $blue;
        border-radius: 3px;
        width: 116px;
        height: 38px;
        margin-bottom: 10px;
        &:hover, :focus {
            background-color: $dark-blue;
        }
    }

    .input-select-error {
        border: 1px solid $red;
        box-shadow: 0 -2px 0px rgba(250, 4, 4, 0.22);
    }
}
